<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255286904718-igctm2kq30ompb87kr37j631sqetq1r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255286904718-igctm2kq30ompb87kr37j631sqetq1r7</string>
	<key>API_KEY</key>
	<string>AIzaSyBe6fplOtGG3Yzht3euLNoLXge34F2ZpvE</string>
	<key>GCM_SENDER_ID</key>
	<string>255286904718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codecoy.ijs.vault</string>
	<key>PROJECT_ID</key>
	<string>ijs-vault</string>
	<key>STORAGE_BUCKET</key>
	<string>ijs-vault.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255286904718:ios:ef184ba9e834ac6d4cc6df</string>
</dict>
</plist>